{{ $title := or .Title .Site.Title }}

{{ $description := "" }}
{{ if .Description }}
	{{ $description = .Description | plainify | chomp }}
{{ else if .IsPage }}
	{{ $description = .Summary | plainify | chomp }}
{{ else }}
	{{ $description = .Site.Params.description | plainify | chomp }}
{{ end }}
{{ $description = $description | truncate 300 }}

{{ $image := .Site.Params.ogimage }}
{{ if .Params.photos }}
	{{ $image = index .Params.photos 0 }}
{{ else if .Params.images }}
	{{ $image = index .Params.images 0 | absURL }}
{{ end }}

<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ with .Title }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $image }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
{{ with .Site.Params.twitter_username }}
	<meta name="twitter:site" content="@{{ . }}" />
{{ end }}

{{ if .IsPage }}
	{{ if not .PublishDate.IsZero }}
		<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
	{{ else if not .Date.IsZero }}
		<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
	{{ end }}
	{{ if not .Lastmod.IsZero }}
		<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
	{{ end }}
{{ else }}
	{{ if not .Date.IsZero }}
		<meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
	{{ end }}
{{ end }}

{{ with .Site.Params.title }}
	<meta property="og:site_name" content="{{ . }}" />
{{ end }}

{{ if .IsPage }}
	<meta property="article:section" content="{{ .Section }}" />
	{{ with .Params.tags }}
		{{ range first 6 . }}
			<meta property="article:tag" content="{{ . }}" />
		{{ end }}
	{{ end }}
	{{ with .Params.categories }}
		{{ range first 6 . }}
			<meta property="article:tag" content="{{ . }}" />
		{{ end }}
	{{ end }}
{{ end }}
